*{   margin: 0;
   padding: 0;
    font-style: "poppons",san-serif;
    text-decoration: none;
    list-style: none;
}



.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgb(223, 79, 103);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{font-size: 50px;
color:bisque;
font-weight: 600;
transition: 0.3s ease;
}

.logo:hover{
    color:rgb(243, 145, 161)
}
span{
    color:rgb(243, 157, 171)
    
}
.navbar a{
    font-size: 35;
    color:azure;
    font-weight: 500;
    margin:0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease; 

}
.navbar a:hover, 
.navbar a.active{
    color: rgb(158, 21, 74);
    border-bottom: 3px solid palevioletred ;
}

.contact{
    padding: 10px 20px;
    background-color:bisque;
    color: rgb(177, 70, 88);
    border-radius:8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight:600;
    transition: 0.3s ease
}  
.contact a:hover{
    background-color: beige;
    box-shadow: 0 0 25px rgba(216, 112, 147, 0.548);
    color: white
}

.home{
    width: 80%;
    min-height: 150vh ;
    background: beige ;
    display: flex;
    align-items: center;
    gap: 7cm;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 50px;
}
.home-content p{
    font-size: 24px;
    margin: 25px 0 30px
}
.btn-box{
    width: 345px;
    display: flex;
    gap:2cm;

}
.btn-1{
    padding: 15px 28px;
    background-color: bisque;
    color: palevioletred;
    border:2px solid transparent; 
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: o.3s ease;
    cursor: pointer;

}
.btn-1:hover{
    background-color: palevioletred;
    color: rgb(250, 242, 233);
    border: 2px solid pink
}

.btn-2{
    padding: 15px 28px;
    background-color: bisque;
    color: palevioletred;
    border:2px solid transparent; 
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: palevioletred;
    color: rgb(250, 242, 233);
    border: 2px solid pink;
}
.img-box img{
    border-radius:50%;
    width: 550px;
    height: 470px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: bisque;
    width: 50px;
}
